In [2]:
!pip show pandas

Name: pandas
Version: 1.1.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: c:\programdata\anaconda3\lib\site-packages
Requires: numpy, pytz, python-dateutil
Required-by: statsmodels, seaborn

In [3]:
def add(n1, n2):
    return n1+n2

In [4]:
add(10,20)

30

# the largest heading 
## second
### third

1. first list item
    - First nested list item
        - Second nested list item

In [5]:
#zip 함수
dt_list =['정당','선거구']
dd_list = ['민주당','서울은평구']
print(zip(dt_list, dd_list))
print(list(zip(dt_list, dd_list)))

for data in zip(dt_list, dd_list):
    print(type(data),data)
    
print(dict(zip(dt_list, dd_list)))

<zip object at 0x0000024CF9A47240>
[('정당', '민주당'), ('선거구', '서울은평구')]
<class 'tuple'> ('정당', '민주당')
<class 'tuple'> ('선거구', '서울은평구')
{'정당': '민주당', '선거구': '서울은평구'}

In [7]:
# 나이계산
from datetime import date

# 현재 날짜
today = date.today()
print(today)
print(today.year)
print(today.month)
print(today.day)

2021-01-11
2021
1
11

In [12]:
# 1960 1 4
# 1960 12 5

birth = date(1960,1,4)
print(birth, type(birth))
print(birth.year)
print(birth.month)
print(birth.day)

birth2 = date(1960,12,4)
print(type(birth2),birth2)
print(birth2.year)
print(birth2.month)
print(birth2.day)

1960-01-04 <class 'datetime.date'>
1960
1
4
<class 'datetime.date'> 1960-12-04
1960
12
4

In [11]:
# 1-11 < 1-4
(today.month, today.day) < (birth.month, birth.day) #0

False

In [13]:
 #(today.month, today.day) < (birth2.month,birth2.day) #1

True

In [14]:
age1 = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
print(age1)

61

In [15]:
# 1960 12 5
age1 = today.year - birth2.year - ((today.month, today.day) < (birth2.month, birth2.day))
print(age1)

60